extends layout

block content
  h1(style="text-align:center") AkolDrugs
  link(rel="stylesheet", href="/stylesheets/add_prod.css")
  script(src="/javascripts/add_prod.js")
  div(class="w3-container")
    div(id="root")
    script(src="javascripts/react_files/vendors~create_prod~login_controller~prod_listing.bundle.js")
    script(src="javascripts/react_files/create_prod.bundle.js")
