extends layout

block content
  h1 AkolDrugs
  link(rel="stylesheet", href="/stylesheets/register_user.css")
  script(src="/javascripts/register_user.js")
  div(id="register_root")
  script(src="/javascripts/react_files/user_reg.bundle.js")
